body {
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.Cabecalho {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin: 10px;
}

.Corpo {
    margin: 20px;
    justify-content: center;
    display: flex;
    text-align: center;
}

.Rodape {
    margin-top: 50px;
    text-align: center;
}